.item-page-grid {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 10px;
    margin: 5px;
    text-align: center;
    margin: auto;
}

.large-image {
    height: 100%;
    width: 100%;
}

.stars-size {
    padding: 5px;
}

.item-rating-count {
    padding: 5px;
}

.item-description {
    padding: 5px;
}

.basket-button {
  background-color: #fafafa;
  min-height: 33px;
  padding-left: 10px;
  box-shadow: 2px 2px 2px 1px #d3cfc8;
  border-radius: 5px;
  border: none;
  width: 50%;
  margin: auto;
  text-align: center;
  font-weight: 500;
  color: #625c58;
  cursor: pointer;
}

.basket-button:hover {
    background-color: rgba(253,253,253,255);
}

.name-number {
    font-size: 12px;
    font-weight: 600;
}



